body {
    margin: 0;
}

.hero {
    background-color: #1f2937;
    padding: 20px 180px 100px 180px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
}

a, .text {
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    margin-top: 100px;
    gap: 32px;
}

.awsome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}

.sign-up {
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    padding: 8px 32px;
}

.image {
    width: 480px;
    height: 230px;
    background-color: #777788;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 48px;
}

.boxes {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 32px 250px 100px 250px;
    
}

.box {
    border: #3882f6 4px solid;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    padding: 100px 250px 100px 250px;
}

.quotee {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-align: end;
}